[Unit]
Description=Filebeat service, for beating logs and sending them to Logstash
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/usr/bin/bash -c "/usr/bin/systemctl set-environment IPV4=$(curl http://169.254.169.254/latest/meta-data/local-ipv4)"
ExecStartPre=/usr/bin/docker pull stakater/filebeat-with-consul-template
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/sh -c "/usr/bin/docker run --rm --name %n \
                          --dns=${IPV4} \
                          --dns-search=service.consul \
                          -v /data/logs:/var/log/app \
                          -v /docker-data/filebeat/:/filebeat-data \
                          -v /admiral-config/filebeat/consul-templates:/templates \
                          -e SERVICE_NAME=filebeat \
                          stakater/filebeat-with-consul-template"
ExecStop=/usr/bin/docker stop %n
RestartSec=10
Restart=always

[X-Fleet]
Global=true