[Unit]
Description=Elasticsearch Service
After=docker.service consul-agent.service
Requires=docker.service consul-agent.service

[Service]
ExecStartPre=/usr/bin/bash -c "/usr/bin/systemctl set-environment IPV4=$(curl http://169.254.169.254/latest/meta-data/local-ipv4)"
ExecStartPre=/usr/bin/docker pull stakater/elasticsearch:5.2
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/sbin/sysctl -w vm.max_map_count=262144
ExecStart=/usr/bin/sh -c "/usr/bin/docker run --rm --name %n \
                          -p 9200:9200 -p 9300:9300 \
                          --dns=${IPV4} \
                          --dns-search=service.consul \
                          -v /data/docker/elasticsearch:/usr/share/elasticsearch/data \
                          --label SERVICE_NAME=elasticsearch \
                          --label SERVICE_TAGS=infra-app \
                          stakater/elasticsearch:5.2"
ExecStop=/usr/bin/docker stop %n
RestartSec=10
Restart=always
