[Unit]
Description=Elasticsearch Service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/usr/bin/bash -c "/usr/bin/systemctl set-environment HOSTNAME=$(hostname -i)"
ExecStartPre=/usr/bin/docker pull stakater/elasticsearch:2.3.1
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/sh -c "/usr/bin/docker run --rm --name %n \
                          -p 9200:9200 -p 9300:9300 \
                          --dns=${HOSTNAME} \
                          --dns-search=service.consul \
                          -v /docker-data/esdata:/usr/share/elasticsearch/data \
                          -e SERVICE_NAME=elasticsearch \
                          -e SERIVCE_TAGS=infra-app \
                          stakater/elasticsearch:2.3.1"
ExecStop=/usr/bin/docker stop %n
RestartSec=10
Restart=always
